.sidebar-close-btn {
  position: absolute;
  top: 18px;
  right: 11px;
  background: rgba(255,255,255,0.3);
  border: none;
  font-size: 2.2rem;
  color: #9e50dd;
  cursor: pointer;
  z-index: 201;
  height: 50px;
 
  transition: background 0.2s, color 0.2s, box-shadow 0.2s, transform 0.18s;
  outline: none;
  animation: sidebarBtnGlow 2s infinite alternate;
}
.sidebar-close-btn:hover {
  background: #fff;
  color: #b993d6;
  box-shadow: 0 2px 18px #b993d6;
  transform: scale(1.12) rotate(8deg);
}

.sidebar-hamburger-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 300;
  font-size: 2.2rem;
  background: rgba(185,147,214,0.88);
  border: none;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 8px #b993d6;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s, transform 0.18s;
  outline: none;
  animation: sidebarBtnGlow 2s infinite alternate;
}
.sidebar-hamburger-btn:hover {
  background: #fff;
  color: #b993d6;
  box-shadow: 0 2px 18px #b993d6;
  transform: scale(1.12) rotate(-8deg);
}

@keyframes sidebarBtnGlow {
  0% {
    box-shadow: 0 2px 8px #b993d6;
  }
  100% {
    box-shadow: 0 2px 18px #8ca6db;
  }
}

 
.sidebar-close-btn:hover {
  color: #7d5fa6;
}

.sidebar-hamburger-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 300;
  font-size: 2rem;
  background: none;
  border: none;
  color: #a779c8fd;
  cursor: pointer;
  transition: color 0.2s;
}
.sidebar-hamburger-btn:hover {
  color: #7d5fa6;
}
